$white: #f8f8ff;
$alert: #ffb647;
$black: #151515;
$med-grey: #999;
$grey-purple: #9a80a0;
$light-purple: #cf80e2;
$purple: #9e01c4;
$dark-purple: #690183;

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-overlay {
  background-color: rgba(15, 15, 15, 0.8);
}

.bg-white-overlay {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-alert {
  background-color: $alert;
}

.border-black {
  border-color: $black !important;
}
